{
    "port" : "4040", 		    	        // port for this launcher
    "session" : {                           // config for session
        "maxAge" : 60000,
        "secret" : "abcdefghijklm",
        "cookie" : "nopqrstuvwxyz"
    },
    "c9portbase" : "4041",                  // base port for c9 instances
    "workspace" : "./workspace/",           // workspace directory, base is the location of "app.js" if this path is relative
    "templates" : [                         // templates
        {
            "name": "A",
            "path": "./template/A"
        },
        {
            "name": "B",
            "path": "./template/B"
        },
        {
            "name": "C",
            "path": "./template/C"
        },
        {
            "name": "D",
            "path": "./template/D"
        }
    ]
}
