script.
    window.errmsg = {
        pop : function(msg) {
            $("span#errmsg").text(msg);
            $("nav#errmsg").slideDown();
        },

        close : function() {
            $("nav#errmsg").slideUp();
        }
    }

    $(function() {
        if ($("span#errmsg").text().length > 0) $("nav#errmsg").slideDown();
    });

nav.navbar.navbar-default.bg-danger.navbar-fixed-top#errmsg(style="display:none;")
    span.navbar-text.text-light#errmsg #{err}
    ul.nav.navbar-nav.navbar-right
        li
            span.navbar-right(onclick="errmsg.close()")
                svg(version="1.1", width="12", height="16", viewBox="0 0 12 16", class="octicon octicon-x", aria-hidden="true")
                    path(fill-rule="evenodd", d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z")
