<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<% if (typeof titlefull !== 'undefined') { %>
  <title><%= titlefull %></title>
<% } else { %>
  <% if (typeof title !== 'undefined' ) { %>
    <title><%= title %> - iDECenter</title>
  <% } else { %>
    <title>iDECenter</title>
  <% } %>
<% } %>

<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<style type="text/css">
    td {
        vertical-align: middle!important
    }
</style>

<script src="/scripts/sha1.js"></script>
<script src="/scripts/postjump.js"></script>
<script src="/scripts/check_username.js"></script>
<script src="/scripts/browser_salt.js"></script>
<script src="/scripts/to_clipboard.js"></script>
