nav.navbar.navbar-expand-sm.navbar-light.bg-light.navbar-fixed-top
    ul.navbar-nav.navbar-expand-sm
        a.navbar-brand(href="/") iDECenter
        - if (authed) {
            span.navbar-text.text-dark #{username}
                - if (isSuper) {
                    sup
                        a.text-primary(href="/pagesuper/index") super
                - }
            | &nbsp;
            span.navbar-text.text-dark c9 password: #{c9password}
        - }
    ul.navbar-nav.navbar-expand-sm.justify-content-end.navbar-collapse.collapse
        - if (authed) {
            li.nav-item
                a.nav-link(href="/logout") Log out
        - } else {
            li.nav-item
                a.nav-link(href="/register") Register
            li.nav-item
                a.nav-link(href="/login") Log in
        - }
br
