<div>
<% if (authed) { %>
    <p>[navbar] "<%= username %>" id: <%= uid %></p>
    <% if (isSuper) { %>
    <p>super</p>
    <% } %>
    <a href="/logout">log out</a>
<% } else { %>
    <p>[navbar] not logged in.</p>
<% } %>
</div>
