nav.navbar.navbar-expand.bg-light.navbar-light.navbar-fixed-top
    ul.navbar-nav
        a.navbar-brand(href="/") iDECenter
        - if (authed) {
            span.navbar-text.text-dark #{username}
                - if (isSuper) {
                    sup
                        a.text-primary(href="/pagesuper/index") super
                - }
            &nbsp;
            span.navbar-text.text-dark c9 password: #{c9password}
        - }
    div.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
            - if (authed) {
                li.nav-item
                    a.nav-link(href="/logout") Log out
            - } else {
                li.nav-item
                    a.nav-link(href="/register") Register
                li.nav-item
                    a.nav-link(href="/login") Log in
            - }
br