<!DOCTYPE html>
html
    head
        include components/head
        block scripts
    body
        include components/errmsg
        include components/nav
        .container
            block content
