<!doctype html>
<html>
    <head>
        <% include components/head %>
    </head>
    <body>
        <% include components/nav %>
        idec<br>
        <a href="/login">login</a>
    </body>
</html>
