<!doctype html>
<html>
    <head>
        <% include components/head %>
        <script lang="javascript">
        function do_login() {
            username = $('#username').val();
            if (checkUsername(username)) {
                $("#login").attr("disabled", true);
                $.postjump('/login_gate', { username : $('#username').val(), password : hex_sha1(browersalt($('#username').val(), $('#password').val())) });
            } else {
                $("#errmsg").text("Invalid username.");
            }
        }
        </script>
    </head>
    <body>
        <% include components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                    <button class="btn btn-primary" onclick="do_login();" id="login">Login</button>
                    <p class="text-danger" id="errmsg"><%= err %></p>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h2>另外还有几点须知</h2>
                            <ul>
                                <li>服务器反应可能很慢，无论按了什么按钮，先等两秒。</li>
                                <li>反应迟缓的问题在IDE里面尤甚，第一次Build可能要花上两分钟，耐心点。</li>
                                <li>这个网站建得比较仓促，有很多不完善的地方，有意见和建议可以<a href="mailto:benjaminpml@foxmail.com">联系我</a>。</li>
                                <li>虽然仓促，但是日志还是很齐全的。Behave yourself！</li>
                                <li>10分钟没有任何操作则自动退出登录。但是在IDE页面不会。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
