extends 1-3

block scripts
    script.
        function do_register() {
            username = $('#username').val();
            if (checkUsername(username)) {
                $("#register").attr("disabled", true);
                $.postjump('/register_gate', { username : $('#username').val(), password : hex_sha1(browersalt($('#username').val(), $('#password').val())) });
            } else {
                $("#errmsg").text("Invalid username.");
            }
        }

block left
    .form-group
        lable(for="username") Username:
        input.form-control#username(type="text", placeholder="Enter username")
    .form-group
        lable(for="password") Password:
        input.form-control#password(type="password", placeholder="Enter password")
    button.btn.btn-primary#register(onclick="do_register();") Register
    p.text-danger#errmsg #{err}

block right
    .card
        .card-body
            h2 注册的几点须知
            ul
                li 注册请求一段时间内只能发起一次，注意检查好信息再提交。
                li 用户名要求只包含大小写拉丁字母，数字或下划线，长度在1到32之间。
                li 密码的内容没有限制，但是建议只使用普通的字母数字和符号。其他情况我也没试过。