<!doctype html>
<html>
    <head>
        <% include components/head %>
        <script lang="javascript">
        function do_register() {
            username = $('#username').val();
            if (checkUsername(username)) {
                $("#register").attr("disabled", true);
                $.postjump('/register_gate', { username : $('#username').val(), password : hex_sha1(browersalt($('#username').val(), $('#password').val())) });
            } else {
                $("#errmsg").text("Invalid username.");
            }
        }
        </script>
    </head>
    <body>
        <% include components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                    <button class="btn btn-primary" onclick="do_register();" id="register">Register</button>
                    <p class="text-danger" id="errmsg"><%= err %></p>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h2>注册的几点须知</h2>
                            <ul>
                                <li>注册请求一段时间内只能发起一次，注意检查好信息再提交。</li>
                                <li>用户名要求只包含大小写拉丁字母，数字或下划线，长度在1到32之间。</li>
                                <li>密码的内容没有限制，但是建议只使用普通的字母数字和符号。其他情况我也没试过。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
