<!doctype html>
<html>
    <head>
        <% include components/head %>
        <script lang="javascript">
        function do_login() {
            username = $('#username').val();
            if (checkUsername(username)) {
                $("#login").attr("disabled", true);
                $.postjump('/login_gate', { username : $('#username').val(), password : hex_sha1(browersalt($('#username').val(), $('#password').val())) });
            } else {
                $("#errmsg").text("Invalid username.");
            }
        }
        </script>
    </head>
    <body>
        <% include components/nav %>
        <div class="container">
            <div class="alert alert-danger">
                Register disabled.
            </div>
        </div>
    </body>
</html>
