<!doctype html>
<html>
    <head>
        <% include components/head %>
        <script lang="javascript">
        function do_register() {
            username = $('#username').val();
            if (checkUsername(username)) {
                $("#register").attr("disabled", true);
                $.postjump('/register_gate', { username : $('#username').val(), password : hex_sha1(browersalt($('#username').val(), $('#password').val())) });
            } else {
                $("#errmsg").text("Invalid username.");
            }
        }
        </script>
    </head>
    <body>
        <% include components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                    <button class="btn btn-primary" onclick="do_register();" id="register">Register</button>
                    <p class="text-danger" id="errmsg"><%= err %></p>
                </div>
                <div class="col-md-8">
                    <h2>注册请求一段时间内只能发起一次，注意检查好信息再提交。</h2>
                    <h2>用户名要求只包含大小写拉丁字母，数字或下划线。项目名称要求与之相同。</h2>
                    <h2>密码的内容没有限制，但是建议只使用ASCII字符。</h2>
                </div>
            </div>
        </div>
    </body>
</html>
