<!doctype html>
<html>
    <head>
        <% include ../components/head %>
    </head>
    <body>
        <% include ../components/nav %>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1>Control<br>Panel</h1>
                </div>
                <div class="col-md-10">
                    <button class="btn btn-primary btn-block" onclick='location.href="/pagesuper/projects"'>Manage projects</button>
                    <button class="btn btn-primary btn-block" onclick='location.href="/pagesuper/users"'>Manage users</button>
                    <button class="btn btn-danger btn-block" onclick='location.href="/apisuper/shutdown"'>Shutdown server</button>
                </div>
            </div>
        </div>
    </body>
</html>
