extends ../temp

block title
    h1 Control Panel

block control
    .row
        .col-sm-4
            button.btn.btn-primary.btn-block(onclick='location.href="/pagesuper/projects"') Manage projects
            br
            button.btn.btn-primary.btn-block(onclick='location.href="/pagesuper/add_template"') Add template
        .col-sm-4
            button.btn.btn-primary.btn-block(onclick='location.href="/pagesuper/users"') Manage users
            br
            p Register:&nbsp;
                strong
                    - if (allowregister) {
                        span.text-success Enabled
                    - } else {
                        span.text-danger Disabled
                    - }
            - if (allowregister) {
                button.btn.btn-danger.btn-block(onclick='location.href="/pagesuper/disable_register"') Disable
            - } else {
                button.btn.btn-success.btn-block(onclick='location.href="/pagesuper/enable_register"') Enable
            - }
        .col-sm-4
            button.btn.btn-danger.btn-block(onclick='location.href="/apisuper/shutdown"') Shutdown server
