<!doctype html>
<html>
    <head>
        <% include ../components/head %>
    </head>
    <body>
        <% include ../components/nav %>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1>Control<br>Panel</h1>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" onclick='location.href="/pagesuper/projects"'>Manage projects</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" onclick='location.href="/pagesuper/users"'>Manage users</button>
                    <br>
                    <p>Register: <strong>
<% if (allowregister) { %>
                    <span class="text-success">Enabled</span>
<% } else { %>
                    <span class="text-danger">Disabled</span>
<% } %>
                    </strong></p>
<% if (allowregister) { %>
                    <button class="btn btn-danger btn-block" onclick='location.href="/pagesuper/disable_register"'>Disable</button>
<% } else { %>
                    <button class="btn btn-success btn-block" onclick='location.href="/pagesuper/enable_register"'>Enable</button>
<% } %>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-block" onclick='location.href="/apisuper/shutdown"'>Shutdown server</button>
                </div>
            </div>
        </div>
    </body>
</html>
