<!doctype html>
<html>
    <head>
        <% include ../components/head %>
        <script>
        window.proj = undefined;
        window.projDiv = undefined;

        $(function () { $("[data-toggle='tooltip']").tooltip(); });

        function dispProjList(list) {
            if (window.proj) window.proj.remove();
            if (!window.projDiv) window.projDiv = $("div#proj")[0];

            window.proj = $("<table border='0' class='table'>");
            window.proj.append($(`
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>owner</th>
                    <th>status</th>
                    <th>cid</th>
                    <th>port</th>
                    <th>op</th>
                    <th></th>
                </tr>
            `));
            for (var i in list) {
                var p = list[i];
                window.proj.append($(`
                    <tr>
                        <td>${p.id}</td>
                        <td>${p.name}</td>
                        <td>${p.owner}</td>
                        <td>
                            <span class="${p.running ? "text-success" : "text-danger"}">${p.running ? "Running" : "Stopped"}</span>
                        </td>
                        <td><span data-toggle="tooltip" data-placement="bottom" title="Click to copy full cid: '${p.containerId}'" onclick="$.toClipboard('${p.containerId}')">${p.containerId.substring(0, 7)}</span></td>
                        <td>${p.port}</td>
                        <td>
                        ${!p.running ? `<a href="javascript:void(0)" onclick="launchProject(${p.id})">Launch</a>` : `<a href="javascript:void(0)" onclick="stopProject(${p.id})">Stop</a>`}
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="deleteProject(${p.id}, false)">Delete</a>
                            <a href="javascript:void(0)" onclick="deleteProject(${p.id}, true)">Archive</a>
                        </td>
                    </tr>
                `));
            }

            window.proj.appendTo(window.projDiv);
        }

        function refreshProjList() {
            $.ajax({
                type : "POST",
                url : "/apisuper/get_all_projects",
                dataType : 'json',
                success : function(data) { 
                    dispProjList(data);
                },
                error : function(xhr, err) { 
                    dispProjList([]);
                    console.log(xhr.responseText);
                }
            });
        }

        function stopAllProj() {
            $.ajax({
                type : "POST",
                url : "/apisuper/stop_all_projects",
                dataType : 'json',
                success : function(data) { 
                    refreshProjList();
                },
                error : function(xhr, err) { 
                    refreshProjList();
                    console.log(xhr.responseText);
                }
            });
        }

        function refreshButtonClicked() {
            $('button#refresh').attr('disabled', true);
            refreshProjList();
            setTimeout(function() { 
                $('button#refresh').attr('disabled', false); 
            }, 1000);
        }

        function stopallButtonClicked() {
            $('button#stopall').attr('disabled', true);
            stopAllProj();
            setTimeout(function() { 
                $('button#stopall').attr('disabled', false); 
            }, 1000);
        }

        window.onload = function() { refreshProjList(); }

        function projOperationSucceeded() {
            $("p#errmsg").text("");
            refreshProjList();
        }

        function launchProject(pid) {
            $.post("/api/launch_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else $("p#errmsg").text(error);
            });
        }

        function stopProject(pid) {
            $.post("/api/stop_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else $("p#errmsg").text(error);
            });
        }

        function deleteProject(pid, archive) {
            $.post("/api/delete_project", { pid : pid, archive : archive }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else $("p#errmsg").text(error);
            });
        }
        </script>
    </head>
    <body>
        <% include ../components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1>All Projects</h1>
                    <button class="btn" id="refresh" onclick="refreshButtonClicked()">Refresh</button>
                    <br>
                    <br>
                    <button class="btn" id="stopall" onclick="stopallButtonClicked()">Stop All</button>
                </div>
                <div class="col-md-10">
                    <div id="proj"></div>
                    <p id="errmsg"></p>
                </div>
            </div>
        </div>
    </body>
</html>
