<!doctype html>
<html>
    <head>
        <% include ../components/head %>
        <script>
        window.user = undefined;
        window.userDiv = undefined;

        function dispUserList(list) {
            if (window.user) window.user.remove();
            if (!window.userDiv) window.userDiv = $("div#user")[0];

            window.user = $("<table border='0' class='table'>");
            window.user.append($(`
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>super</th>
                    <th>c9 password</th>
                    <th>create time utc</th>
                </tr>
            `));
            for (var i in list) {
                var p = list[i];
                window.user.append($(`
                    <tr>
                        <td>${p.id}</td>
                        <td>${p.username}</td>
                        <td>${p.super}</td>
                        <td>${p.c9password}</td>
                        <td>${p.createTimeUtc}</td>
                    </tr>
                `));
            }

            window.user.appendTo(window.userDiv);
        }

        function refreshUserList() {
            $.ajax({
                type : "POST",
                url : "/apisuper/get_all_users",
                dataType : 'json',
                success : function(data) {
                    dispUserList(data);
                },
                error : function(xhr, err) {
                    dispUserList([]);
                    console.log(xhr.responseText);
                }
            });
        }

        function refreshButtonClicked() {
            $('button#refresh').attr('disabled', true);
            refreshUserList();
            setTimeout(function() {
                $('button#refresh').attr('disabled', false);
            }, 1000);
        }

        window.onload = function() { refreshUserList(); }

        function userOperationSucceeded() {
            $("p#errmsg").text("");
            refreshUserList();
        }

        </script>
    </head>
    <body>
        <% include ../components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1>Users</h1>
                    <button class="btn" id="refresh" onclick="refreshButtonClicked()">Refresh</button>
                </div>
                <div class="col-md-10">
                    <div id="user"></div>
                    <p id="errmsg"></p>
                </div>
            </div>
        </div>
    </body>
</html>
