<!doctype html>
<html>
    <head>
        <% include ../components/head %>
        <script lang="javascript">
        function load_templates() {
            templateSelect = $("select#templates")[0];

            $.post("/api/get_templates", function(data) {
                for (var i in data) {
                    var temp = data[i];
                    $(`<option value="${temp}">${temp}</option>`).appendTo(templateSelect);
                }
            });
        }

        window.onload = function() {
            load_templates();
        }

        function do_create() {
            $("p#errmsg").text("");
            
            projectName = $("input#projectname").val();
            templateName = $("select#templates").val();

            if (!checkProjectName(projectName)) return $("p#errmsg").text("invalid project name");

            $("button#create").attr("disabled", true);
            failed = function(err) {
                $("p#errmsg").text(err);
                $("button#create").attr("disabled", false);
            }

            succeeded = function() {
                window.location.href = "/";
            }
            
            $.ajax({ 
                cache : false,
                data : { template : templateName, project : projectName },
                error : (xhr, msg) => failed(xhr.responseText),
                success : (result) => result.succeeded ? succeeded() : failed(result.error),
                url : "/api/create_project",
                type : "POST"
            });
        }
        </script>
    </head>
    <body>
        <% include ../components/nav %>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1>Creat<span class="text-light">e</span><br>Project</h1>
                    <p class="text-secondary">A valid project name is a string consists of 1~32 digits, letters and/or underlines.</p>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="projectname">Project name:</label>
                        <input type="text" class="form-control" id="projectname" placeholder="Project name">
                    </div>
                    <div class="form-group">
                        <label for="templates">Template:</label>
                        <select class="form-control" id="templates"></select>
                    </div>
                    <button class="btn btn-primary" onclick="do_create();" id="create">Creat</button>
                    <p class="text-danger" id="errmsg"></p>
                </div>
            </div>
        </div>
    </body>
</html>
