<!doctype html>
<html>
    <head>
        <% include ../components/head %>
        <script>
        window.proj = undefined;
        window.projDiv = undefined;

        function dispProjList(list) {
            if (window.proj) window.proj.remove();
            if (!window.projDiv) window.projDiv = $("div#proj")[0];

            window.proj = $("<table border='0'>");
            window.proj.append($(`
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>status</th>
                    <th>op</th>
                </tr>
            `));
            for (var i in list) {
                var p = list[i];
                window.proj.append($(`
                    <tr>
                        <td>${p.id}</th>
                        <th>${p.name}</th>
                        <th>${p.running ? "Running" : "Stopped"}</th>
                        <th>
                        ${p.running ? `<a href="/pages/c9/${p.id}">Open</a>` : ""}
                        ${!p.running ? `<a href="javascript:void(0)" onclick="launchProject(${p.id})">Launch</a>` : `<a href="javascript:void(0)" onclick="stopProject(${p.id})">Stop</a>`}
                        </th>
                    </tr>
                `));
            }

            window.proj.appendTo(window.projDiv);
        }

        function refreshProjList() {
            $.ajax({
                type : "POST",
                url : "/api/get_projects",
                dataType : 'json',
                success : function(data) { 
                    dispProjList(data);
                },
                error : function(xhr, err) { 
                    dispProjList([]);
                    console.log(xhr.response.JSON);
                }
            });
        }

        function refreshButtonClicked() {
            $('button#refresh').attr('disabled', true);
            refreshProjList();
            setTimeout(function() { 
                $('button#refresh').attr('disabled', false); 
            }, 1000);
        }

        window.onload = function() { refreshProjList(); }

        function projOperationSucceeded() {
            $("p#errmsg").text("");
            refreshProjList();
        }

        function launchProject(pid) {
            $.post("/api/launch_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else $("p#errmsg").text(error);
            });
        }

        function stopProject(pid) {
            $.post("/api/stop_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else $("p#errmsg").text(error);
            });
        }
        </script>
    </head>
    <body>
        <% include ../components/nav %>
        projects<br>
        <button id="refresh" onclick="refreshButtonClicked()">refresh</button>
        <a href="/pages/create_project">create</a>
        <div id="proj"></div>
        <p id="errmsg"></p>
    </body>
</html>
